# Python 
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Jupyter Notebooks
.ipynb_checkpoints

# Data & Models (Crucial for ML)
# Don't upload the raw 400MB+ datasets or massive similarity matrices
data/*.csv
data/*.json
models/*.pkl
models/*.h5
*.docx

# OS Files
.DS_Store
Thumbs.db

# Environment Variables (Secrets)
.env

