services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    ports:
      - "80:80" # Map host port 80 to container port 80
    depends_on:
      - backend