# Python 
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Jupyter Notebooks
.ipynb_checkpoints
*.ipynb

# Data & Models (Crucial for ML)
# Don't upload the raw 400MB+ datasets or massive similarity matrices
models/*.pkl
models/*.h5

# OS Files
.DS_Store
Thumbs.db

# Environment Variables (Secrets)
.env